/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "normalize";
@import "compass";
@import "compass/reset";
$browser-minimum-versions:("ie":"7");
html{
	@include box-sizing(border-box);
}
h1{
	@include adjust-font-size-to(20px);
}
h2{
	@include adjust-font-size-to(18px);
}
h3{
	@include adjust-font-size-to(16px);
}

h4{
	@include adjust-font-size-to(14px);
}
a{
	@include hover-link;
}
h1,h2,h3,h4{
	// margin:20px 0 10px 0;
	font-weight:bold;
}
$inner-size:960px;
$color:#fff;
$error-color:#f00;
$input:335px;
$help-block:#f60;
$span-width:126px;
$line:30px;
$btn-width:115px;
$btn-bg:#0ba5e5;
$login-color:#fabe00;
$title-h:50px;
body{
	background:url(../images/dl_dgj.jpg) no-repeat center;
}
.bg{
	width: $inner-size;
	margin:30px auto 0 auto;
}
.register-title{
	height:$title-h;
	border-bottom:1px solid #5d5d5d;
	line-height:50px;
	color:$color;
	h1{
		@extend h1;
 		@include inline-block;
		height:$title-h;
		line-height:$title-h;
		margin-left:162px;
		color:$color;
	}
	span{
		@extend h3;
		line-height: $title-h;
		margin-left:60px;
	}
	a{
		color:$login-color;
	}
}
form{
	margin:30px 0 0 200px;
	.form-group{
		line-height:$line;
		margin-bottom:15px;
		&.code{
			position:relative;
		}
		label{
			color:$error-color;
		}
		span{
			@include inline-block;
			color:$color;
			width:$span-width;
			letter-spacing: 2px;
		}
		input{
			width:$input;
			height:36px;
			line-height:36px;
		}
		input[type="button"]{
			width:$btn-width;
			@extend h4;
			@include box-shadow;
			position:absolute;
			left:355px;
			top:3px;

		}
		.help-block{
		color:$help-block;
		display:block;
		width:auto;
		line-height:$line;
		margin-left:$span-width;
		}
	}
	
	
	.tk1{
		display:none;
	}
	.index{
		input[type="checkbox"]{
			width:auto;
			color:$color;
			margin-right:10px;
		}
		a{
			color:#337ab7;
			cursor:pointer;
			&:hover{
				color:#23527c;
			}
		}
		.box1{
			@include border-radius(5px);
			position:fixed;
			left:25%;
			width:50%;
			height:500px;
			border:1px solid #ccc;
			padding:0px 15px;
			overflow:auto;
			background:$color;
			top:50px;
			h1{
				margin:20px 0 10px 0;
				text-align: center;
				span{
					@extend h2;
				}
			}
			h2{
				margin:20px 0 10px 0;
				line-height:45px;
			}
			p{
				line-height:26px;
			}
			
			i{
				cursor:pointer;
				@extend h1;
				position:fixed;
				@include inline-block;
				margin-left:15%;
				margin-top:0;
				font-size:30px;
			}
			h3{
				@extend h3;
			}
		}
	}
	.btn_nav{
		input[type="submit"]{
			@include border-radius;
			font-size:20px;
			background:$btn-bg;
			color:$color;
			width:150px;
			height:47px;
			line-height: 47px;
			margin:30px 180px;
			border:none;
			letter-spacing: 5px;
		}

	}
}
